@import url(https://use.typekit.net/lgw5dfv.css);* {
  font-family: museo, serif;
}

h1 {
  line-height: 1;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

h2 {
  line-height: 1;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

h3 {
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

h4 {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
}

h5 {
  line-height: 1;
  font-size: 24px;
  font-weight: 800;
}

h6 {
  line-height: 1;
  font-size: 24px;
  font-weight: 800;
}

p,
* {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* {
  line-height: 1.5;
  font-size: 14px;
}

::-moz-selection {
  background: #FFAFCD;
  color: white;
}

::selection {
  background: #FFAFCD;
  color: white;
}

h1.large {
  font-size: 100px;
}

b {
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;
}

a.border-link {
  position: relative;
  color: #FFAFCD;
  padding: 5px 0;
}

a.border-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #FFAFCD;
  transition: width 250ms ease-in-out;
}

a.border-link:hover:after {
  width: 0;
  left: 0;
}

ul {
  padding-left: 15px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li::before {
  content: "-";
  position: absolute;
  left: -15px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 20px;
}

h1.pink,
h2.pink,
h3.pink,
h4.pink,
h5.pink,
h6.pink,
p.pink,
li.pink,
span.pink {
  color: #FFAFCD;
}

h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue,
p.blue,
li.blue,
span.blue {
  color: #6A7084;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center,
li.center,
span.center {
  text-align: center;
}

h1 a,
h1 span,
h1 ul,
h1 li,
h2 a,
h2 span,
h2 ul,
h2 li,
h3 a,
h3 span,
h3 ul,
h3 li,
h4 a,
h4 span,
h4 ul,
h4 li,
h5 a,
h5 span,
h5 ul,
h5 li,
h6 a,
h6 span,
h6 ul,
h6 li,
p a,
p span,
p ul,
p li,
li a,
li span,
li ul,
li li,
span a,
span span,
span ul,
span li {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

[class^=part].right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

[class^=part].center-content {
  display: flex;
  justify-content: center;
}

footer,
section.line + section.line {
  padding-top: 180px;
}

@media (max-width: 922px) {
  footer,
  section.line + section.line {
    padding-top: 120px;
  }
}

@media (max-width: 576px) {
  footer,
  section.line + section.line {
    padding-top: 80px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #081132;
}

header .container {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header .container .part-1:not(.no-gutter) {
  width: 4.2083333333%;
}

header .container .part-1.no-gutter {
  width: 8.3333333333%;
}

header .container .part-2:not(.no-gutter) {
  width: 12.9166666667%;
}

header .container .part-2.no-gutter {
  width: 16.6666666667%;
}

header .container .part-3:not(.no-gutter) {
  width: 21.625%;
}

header .container .part-3.no-gutter {
  width: 25%;
}

header .container .part-4:not(.no-gutter) {
  width: 30.3333333333%;
}

header .container .part-4.no-gutter {
  width: 33.3333333333%;
}

header .container .part-5:not(.no-gutter) {
  width: 39.0416666667%;
}

header .container .part-5.no-gutter {
  width: 41.6666666667%;
}

header .container .part-6:not(.no-gutter) {
  width: 47.75%;
}

header .container .part-6.no-gutter {
  width: 50%;
}

header .container .part-7:not(.no-gutter) {
  width: 56.4583333333%;
}

header .container .part-7.no-gutter {
  width: 58.3333333333%;
}

header .container .part-8:not(.no-gutter) {
  width: 65.1666666667%;
}

header .container .part-8.no-gutter {
  width: 66.6666666667%;
}

header .container .part-9:not(.no-gutter) {
  width: 73.875%;
}

header .container .part-9.no-gutter {
  width: 75%;
}

header .container .part-10:not(.no-gutter) {
  width: 82.5833333333%;
}

header .container .part-10.no-gutter {
  width: 83.3333333333%;
}

header .container .part-11:not(.no-gutter) {
  width: 91.2916666667%;
}

header .container .part-11.no-gutter {
  width: 91.6666666667%;
}

header .container .part-12:not(.no-gutter) {
  width: 100%;
}

header .container .part-12.no-gutter {
  width: 100%;
}

@media (max-width: 1200px) {
  header .container .part-xl-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  header .container .part-xl-1.no-gutter {
    width: 8.3333333333%;
  }

  header .container .part-xl-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  header .container .part-xl-2.no-gutter {
    width: 16.6666666667%;
  }

  header .container .part-xl-3:not(.no-gutter) {
    width: 21.625%;
  }

  header .container .part-xl-3.no-gutter {
    width: 25%;
  }

  header .container .part-xl-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  header .container .part-xl-4.no-gutter {
    width: 33.3333333333%;
  }

  header .container .part-xl-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  header .container .part-xl-5.no-gutter {
    width: 41.6666666667%;
  }

  header .container .part-xl-6:not(.no-gutter) {
    width: 47.75%;
  }

  header .container .part-xl-6.no-gutter {
    width: 50%;
  }

  header .container .part-xl-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  header .container .part-xl-7.no-gutter {
    width: 58.3333333333%;
  }

  header .container .part-xl-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  header .container .part-xl-8.no-gutter {
    width: 66.6666666667%;
  }

  header .container .part-xl-9:not(.no-gutter) {
    width: 73.875%;
  }

  header .container .part-xl-9.no-gutter {
    width: 75%;
  }

  header .container .part-xl-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  header .container .part-xl-10.no-gutter {
    width: 83.3333333333%;
  }

  header .container .part-xl-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  header .container .part-xl-11.no-gutter {
    width: 91.6666666667%;
  }

  header .container .part-xl-12:not(.no-gutter) {
    width: 100%;
  }

  header .container .part-xl-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 922px) {
  header .container .part-lg-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  header .container .part-lg-1.no-gutter {
    width: 8.3333333333%;
  }

  header .container .part-lg-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  header .container .part-lg-2.no-gutter {
    width: 16.6666666667%;
  }

  header .container .part-lg-3:not(.no-gutter) {
    width: 21.625%;
  }

  header .container .part-lg-3.no-gutter {
    width: 25%;
  }

  header .container .part-lg-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  header .container .part-lg-4.no-gutter {
    width: 33.3333333333%;
  }

  header .container .part-lg-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  header .container .part-lg-5.no-gutter {
    width: 41.6666666667%;
  }

  header .container .part-lg-6:not(.no-gutter) {
    width: 47.75%;
  }

  header .container .part-lg-6.no-gutter {
    width: 50%;
  }

  header .container .part-lg-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  header .container .part-lg-7.no-gutter {
    width: 58.3333333333%;
  }

  header .container .part-lg-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  header .container .part-lg-8.no-gutter {
    width: 66.6666666667%;
  }

  header .container .part-lg-9:not(.no-gutter) {
    width: 73.875%;
  }

  header .container .part-lg-9.no-gutter {
    width: 75%;
  }

  header .container .part-lg-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  header .container .part-lg-10.no-gutter {
    width: 83.3333333333%;
  }

  header .container .part-lg-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  header .container .part-lg-11.no-gutter {
    width: 91.6666666667%;
  }

  header .container .part-lg-12:not(.no-gutter) {
    width: 100%;
  }

  header .container .part-lg-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header .container .part-md-1:not(.no-gutter) {
    width: 8.5625%;
  }

  header .container .part-md-1.no-gutter {
    width: 12.5%;
  }

  header .container .part-md-2:not(.no-gutter) {
    width: 21.625%;
  }

  header .container .part-md-2.no-gutter {
    width: 25%;
  }

  header .container .part-md-3:not(.no-gutter) {
    width: 34.6875%;
  }

  header .container .part-md-3.no-gutter {
    width: 37.5%;
  }

  header .container .part-md-4:not(.no-gutter) {
    width: 47.75%;
  }

  header .container .part-md-4.no-gutter {
    width: 50%;
  }

  header .container .part-md-5:not(.no-gutter) {
    width: 60.8125%;
  }

  header .container .part-md-5.no-gutter {
    width: 62.5%;
  }

  header .container .part-md-6:not(.no-gutter) {
    width: 73.875%;
  }

  header .container .part-md-6.no-gutter {
    width: 75%;
  }

  header .container .part-md-7:not(.no-gutter) {
    width: 86.9375%;
  }

  header .container .part-md-7.no-gutter {
    width: 87.5%;
  }

  header .container .part-md-8:not(.no-gutter) {
    width: 100%;
  }

  header .container .part-md-8.no-gutter {
    width: 100%;
  }
}

@media (max-width: 576px) {
  header .container .part-sm-1:not(.no-gutter) {
    width: 21.625%;
  }

  header .container .part-sm-1.no-gutter {
    width: 25%;
  }

  header .container .part-sm-2:not(.no-gutter) {
    width: 47.75%;
  }

  header .container .part-sm-2.no-gutter {
    width: 50%;
  }

  header .container .part-sm-3:not(.no-gutter) {
    width: 73.875%;
  }

  header .container .part-sm-3.no-gutter {
    width: 75%;
  }

  header .container .part-sm-4:not(.no-gutter) {
    width: 100%;
  }

  header .container .part-sm-4.no-gutter {
    width: 100%;
  }
}

@media (max-width: 375px) {
  header .container .part-xs-1:not(.no-gutter) {
    width: 21.625%;
  }

  header .container .part-xs-1.no-gutter {
    width: 25%;
  }

  header .container .part-xs-2:not(.no-gutter) {
    width: 47.75%;
  }

  header .container .part-xs-2.no-gutter {
    width: 50%;
  }

  header .container .part-xs-3:not(.no-gutter) {
    width: 73.875%;
  }

  header .container .part-xs-3.no-gutter {
    width: 75%;
  }

  header .container .part-xs-4:not(.no-gutter) {
    width: 100%;
  }

  header .container .part-xs-4.no-gutter {
    width: 100%;
  }
}

header .container .logo {
  width: 40px;
}

header .container nav {
  display: flex;
  align-items: center;
}

header .container nav a {
  font-size: 16px;
}

header .container nav a:not(.button) {
  color: white;
  opacity: 0.6;
}

header .container nav a:not(.button) + a {
  margin-left: 30px;
}

header .container nav a:not(.button):hover,
header .container nav a:not(.button).active {
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #081132;
  color: white;
}

body main {
  flex: 1 0 auto;
}

body main .container .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

body footer {
  flex-shrink: 0;
}

section.line .container {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
}

section.line .container .part-1:not(.no-gutter) {
  width: 4.2083333333%;
}

section.line .container .part-1.no-gutter {
  width: 8.3333333333%;
}

section.line .container .part-2:not(.no-gutter) {
  width: 12.9166666667%;
}

section.line .container .part-2.no-gutter {
  width: 16.6666666667%;
}

section.line .container .part-3:not(.no-gutter) {
  width: 21.625%;
}

section.line .container .part-3.no-gutter {
  width: 25%;
}

section.line .container .part-4:not(.no-gutter) {
  width: 30.3333333333%;
}

section.line .container .part-4.no-gutter {
  width: 33.3333333333%;
}

section.line .container .part-5:not(.no-gutter) {
  width: 39.0416666667%;
}

section.line .container .part-5.no-gutter {
  width: 41.6666666667%;
}

section.line .container .part-6:not(.no-gutter) {
  width: 47.75%;
}

section.line .container .part-6.no-gutter {
  width: 50%;
}

section.line .container .part-7:not(.no-gutter) {
  width: 56.4583333333%;
}

section.line .container .part-7.no-gutter {
  width: 58.3333333333%;
}

section.line .container .part-8:not(.no-gutter) {
  width: 65.1666666667%;
}

section.line .container .part-8.no-gutter {
  width: 66.6666666667%;
}

section.line .container .part-9:not(.no-gutter) {
  width: 73.875%;
}

section.line .container .part-9.no-gutter {
  width: 75%;
}

section.line .container .part-10:not(.no-gutter) {
  width: 82.5833333333%;
}

section.line .container .part-10.no-gutter {
  width: 83.3333333333%;
}

section.line .container .part-11:not(.no-gutter) {
  width: 91.2916666667%;
}

section.line .container .part-11.no-gutter {
  width: 91.6666666667%;
}

section.line .container .part-12:not(.no-gutter) {
  width: 100%;
}

section.line .container .part-12.no-gutter {
  width: 100%;
}

@media (max-width: 1200px) {
  section.line .container .part-xl-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  section.line .container .part-xl-1.no-gutter {
    width: 8.3333333333%;
  }

  section.line .container .part-xl-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  section.line .container .part-xl-2.no-gutter {
    width: 16.6666666667%;
  }

  section.line .container .part-xl-3:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-xl-3.no-gutter {
    width: 25%;
  }

  section.line .container .part-xl-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  section.line .container .part-xl-4.no-gutter {
    width: 33.3333333333%;
  }

  section.line .container .part-xl-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  section.line .container .part-xl-5.no-gutter {
    width: 41.6666666667%;
  }

  section.line .container .part-xl-6:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-xl-6.no-gutter {
    width: 50%;
  }

  section.line .container .part-xl-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  section.line .container .part-xl-7.no-gutter {
    width: 58.3333333333%;
  }

  section.line .container .part-xl-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  section.line .container .part-xl-8.no-gutter {
    width: 66.6666666667%;
  }

  section.line .container .part-xl-9:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-xl-9.no-gutter {
    width: 75%;
  }

  section.line .container .part-xl-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  section.line .container .part-xl-10.no-gutter {
    width: 83.3333333333%;
  }

  section.line .container .part-xl-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  section.line .container .part-xl-11.no-gutter {
    width: 91.6666666667%;
  }

  section.line .container .part-xl-12:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-xl-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 922px) {
  section.line .container .part-lg-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  section.line .container .part-lg-1.no-gutter {
    width: 8.3333333333%;
  }

  section.line .container .part-lg-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  section.line .container .part-lg-2.no-gutter {
    width: 16.6666666667%;
  }

  section.line .container .part-lg-3:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-lg-3.no-gutter {
    width: 25%;
  }

  section.line .container .part-lg-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  section.line .container .part-lg-4.no-gutter {
    width: 33.3333333333%;
  }

  section.line .container .part-lg-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  section.line .container .part-lg-5.no-gutter {
    width: 41.6666666667%;
  }

  section.line .container .part-lg-6:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-lg-6.no-gutter {
    width: 50%;
  }

  section.line .container .part-lg-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  section.line .container .part-lg-7.no-gutter {
    width: 58.3333333333%;
  }

  section.line .container .part-lg-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  section.line .container .part-lg-8.no-gutter {
    width: 66.6666666667%;
  }

  section.line .container .part-lg-9:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-lg-9.no-gutter {
    width: 75%;
  }

  section.line .container .part-lg-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  section.line .container .part-lg-10.no-gutter {
    width: 83.3333333333%;
  }

  section.line .container .part-lg-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  section.line .container .part-lg-11.no-gutter {
    width: 91.6666666667%;
  }

  section.line .container .part-lg-12:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-lg-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section.line .container .part-md-1:not(.no-gutter) {
    width: 8.5625%;
  }

  section.line .container .part-md-1.no-gutter {
    width: 12.5%;
  }

  section.line .container .part-md-2:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-md-2.no-gutter {
    width: 25%;
  }

  section.line .container .part-md-3:not(.no-gutter) {
    width: 34.6875%;
  }

  section.line .container .part-md-3.no-gutter {
    width: 37.5%;
  }

  section.line .container .part-md-4:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-md-4.no-gutter {
    width: 50%;
  }

  section.line .container .part-md-5:not(.no-gutter) {
    width: 60.8125%;
  }

  section.line .container .part-md-5.no-gutter {
    width: 62.5%;
  }

  section.line .container .part-md-6:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-md-6.no-gutter {
    width: 75%;
  }

  section.line .container .part-md-7:not(.no-gutter) {
    width: 86.9375%;
  }

  section.line .container .part-md-7.no-gutter {
    width: 87.5%;
  }

  section.line .container .part-md-8:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-md-8.no-gutter {
    width: 100%;
  }
}

@media (max-width: 576px) {
  section.line .container .part-sm-1:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-sm-1.no-gutter {
    width: 25%;
  }

  section.line .container .part-sm-2:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-sm-2.no-gutter {
    width: 50%;
  }

  section.line .container .part-sm-3:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-sm-3.no-gutter {
    width: 75%;
  }

  section.line .container .part-sm-4:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-sm-4.no-gutter {
    width: 100%;
  }
}

@media (max-width: 375px) {
  section.line .container .part-xs-1:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-xs-1.no-gutter {
    width: 25%;
  }

  section.line .container .part-xs-2:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-xs-2.no-gutter {
    width: 50%;
  }

  section.line .container .part-xs-3:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-xs-3.no-gutter {
    width: 75%;
  }

  section.line .container .part-xs-4:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-xs-4.no-gutter {
    width: 100%;
  }
}

section.line .container .part-1:not(.no-gutter) {
  width: 4.2083333333%;
}

section.line .container .part-1.no-gutter {
  width: 8.3333333333%;
}

section.line .container .part-2:not(.no-gutter) {
  width: 12.9166666667%;
}

section.line .container .part-2.no-gutter {
  width: 16.6666666667%;
}

section.line .container .part-3:not(.no-gutter) {
  width: 21.625%;
}

section.line .container .part-3.no-gutter {
  width: 25%;
}

section.line .container .part-4:not(.no-gutter) {
  width: 30.3333333333%;
}

section.line .container .part-4.no-gutter {
  width: 33.3333333333%;
}

section.line .container .part-5:not(.no-gutter) {
  width: 39.0416666667%;
}

section.line .container .part-5.no-gutter {
  width: 41.6666666667%;
}

section.line .container .part-6:not(.no-gutter) {
  width: 47.75%;
}

section.line .container .part-6.no-gutter {
  width: 50%;
}

section.line .container .part-7:not(.no-gutter) {
  width: 56.4583333333%;
}

section.line .container .part-7.no-gutter {
  width: 58.3333333333%;
}

section.line .container .part-8:not(.no-gutter) {
  width: 65.1666666667%;
}

section.line .container .part-8.no-gutter {
  width: 66.6666666667%;
}

section.line .container .part-9:not(.no-gutter) {
  width: 73.875%;
}

section.line .container .part-9.no-gutter {
  width: 75%;
}

section.line .container .part-10:not(.no-gutter) {
  width: 82.5833333333%;
}

section.line .container .part-10.no-gutter {
  width: 83.3333333333%;
}

section.line .container .part-11:not(.no-gutter) {
  width: 91.2916666667%;
}

section.line .container .part-11.no-gutter {
  width: 91.6666666667%;
}

section.line .container .part-12:not(.no-gutter) {
  width: 100%;
}

section.line .container .part-12.no-gutter {
  width: 100%;
}

@media (max-width: 1200px) {
  section.line .container .part-xl-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  section.line .container .part-xl-1.no-gutter {
    width: 8.3333333333%;
  }

  section.line .container .part-xl-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  section.line .container .part-xl-2.no-gutter {
    width: 16.6666666667%;
  }

  section.line .container .part-xl-3:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-xl-3.no-gutter {
    width: 25%;
  }

  section.line .container .part-xl-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  section.line .container .part-xl-4.no-gutter {
    width: 33.3333333333%;
  }

  section.line .container .part-xl-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  section.line .container .part-xl-5.no-gutter {
    width: 41.6666666667%;
  }

  section.line .container .part-xl-6:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-xl-6.no-gutter {
    width: 50%;
  }

  section.line .container .part-xl-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  section.line .container .part-xl-7.no-gutter {
    width: 58.3333333333%;
  }

  section.line .container .part-xl-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  section.line .container .part-xl-8.no-gutter {
    width: 66.6666666667%;
  }

  section.line .container .part-xl-9:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-xl-9.no-gutter {
    width: 75%;
  }

  section.line .container .part-xl-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  section.line .container .part-xl-10.no-gutter {
    width: 83.3333333333%;
  }

  section.line .container .part-xl-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  section.line .container .part-xl-11.no-gutter {
    width: 91.6666666667%;
  }

  section.line .container .part-xl-12:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-xl-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 922px) {
  section.line .container .part-lg-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  section.line .container .part-lg-1.no-gutter {
    width: 8.3333333333%;
  }

  section.line .container .part-lg-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  section.line .container .part-lg-2.no-gutter {
    width: 16.6666666667%;
  }

  section.line .container .part-lg-3:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-lg-3.no-gutter {
    width: 25%;
  }

  section.line .container .part-lg-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  section.line .container .part-lg-4.no-gutter {
    width: 33.3333333333%;
  }

  section.line .container .part-lg-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  section.line .container .part-lg-5.no-gutter {
    width: 41.6666666667%;
  }

  section.line .container .part-lg-6:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-lg-6.no-gutter {
    width: 50%;
  }

  section.line .container .part-lg-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  section.line .container .part-lg-7.no-gutter {
    width: 58.3333333333%;
  }

  section.line .container .part-lg-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  section.line .container .part-lg-8.no-gutter {
    width: 66.6666666667%;
  }

  section.line .container .part-lg-9:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-lg-9.no-gutter {
    width: 75%;
  }

  section.line .container .part-lg-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  section.line .container .part-lg-10.no-gutter {
    width: 83.3333333333%;
  }

  section.line .container .part-lg-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  section.line .container .part-lg-11.no-gutter {
    width: 91.6666666667%;
  }

  section.line .container .part-lg-12:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-lg-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section.line .container .part-md-1:not(.no-gutter) {
    width: 8.5625%;
  }

  section.line .container .part-md-1.no-gutter {
    width: 12.5%;
  }

  section.line .container .part-md-2:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-md-2.no-gutter {
    width: 25%;
  }

  section.line .container .part-md-3:not(.no-gutter) {
    width: 34.6875%;
  }

  section.line .container .part-md-3.no-gutter {
    width: 37.5%;
  }

  section.line .container .part-md-4:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-md-4.no-gutter {
    width: 50%;
  }

  section.line .container .part-md-5:not(.no-gutter) {
    width: 60.8125%;
  }

  section.line .container .part-md-5.no-gutter {
    width: 62.5%;
  }

  section.line .container .part-md-6:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-md-6.no-gutter {
    width: 75%;
  }

  section.line .container .part-md-7:not(.no-gutter) {
    width: 86.9375%;
  }

  section.line .container .part-md-7.no-gutter {
    width: 87.5%;
  }

  section.line .container .part-md-8:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-md-8.no-gutter {
    width: 100%;
  }
}

@media (max-width: 576px) {
  section.line .container .part-sm-1:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-sm-1.no-gutter {
    width: 25%;
  }

  section.line .container .part-sm-2:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-sm-2.no-gutter {
    width: 50%;
  }

  section.line .container .part-sm-3:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-sm-3.no-gutter {
    width: 75%;
  }

  section.line .container .part-sm-4:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-sm-4.no-gutter {
    width: 100%;
  }
}

@media (max-width: 375px) {
  section.line .container .part-xs-1:not(.no-gutter) {
    width: 21.625%;
  }

  section.line .container .part-xs-1.no-gutter {
    width: 25%;
  }

  section.line .container .part-xs-2:not(.no-gutter) {
    width: 47.75%;
  }

  section.line .container .part-xs-2.no-gutter {
    width: 50%;
  }

  section.line .container .part-xs-3:not(.no-gutter) {
    width: 73.875%;
  }

  section.line .container .part-xs-3.no-gutter {
    width: 75%;
  }

  section.line .container .part-xs-4:not(.no-gutter) {
    width: 100%;
  }

  section.line .container .part-xs-4.no-gutter {
    width: 100%;
  }
}

section.line:first-of-type {
  padding-top: 200px;
}

section.line.small .container {
  max-width: 900px;
}

section.line.extra-small .container {
  max-width: 550px;
}

footer {
  padding-bottom: 70px;
}

footer .container {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
}

footer .container .part-1:not(.no-gutter) {
  width: 4.2083333333%;
}

footer .container .part-1.no-gutter {
  width: 8.3333333333%;
}

footer .container .part-2:not(.no-gutter) {
  width: 12.9166666667%;
}

footer .container .part-2.no-gutter {
  width: 16.6666666667%;
}

footer .container .part-3:not(.no-gutter) {
  width: 21.625%;
}

footer .container .part-3.no-gutter {
  width: 25%;
}

footer .container .part-4:not(.no-gutter) {
  width: 30.3333333333%;
}

footer .container .part-4.no-gutter {
  width: 33.3333333333%;
}

footer .container .part-5:not(.no-gutter) {
  width: 39.0416666667%;
}

footer .container .part-5.no-gutter {
  width: 41.6666666667%;
}

footer .container .part-6:not(.no-gutter) {
  width: 47.75%;
}

footer .container .part-6.no-gutter {
  width: 50%;
}

footer .container .part-7:not(.no-gutter) {
  width: 56.4583333333%;
}

footer .container .part-7.no-gutter {
  width: 58.3333333333%;
}

footer .container .part-8:not(.no-gutter) {
  width: 65.1666666667%;
}

footer .container .part-8.no-gutter {
  width: 66.6666666667%;
}

footer .container .part-9:not(.no-gutter) {
  width: 73.875%;
}

footer .container .part-9.no-gutter {
  width: 75%;
}

footer .container .part-10:not(.no-gutter) {
  width: 82.5833333333%;
}

footer .container .part-10.no-gutter {
  width: 83.3333333333%;
}

footer .container .part-11:not(.no-gutter) {
  width: 91.2916666667%;
}

footer .container .part-11.no-gutter {
  width: 91.6666666667%;
}

footer .container .part-12:not(.no-gutter) {
  width: 100%;
}

footer .container .part-12.no-gutter {
  width: 100%;
}

@media (max-width: 1200px) {
  footer .container .part-xl-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  footer .container .part-xl-1.no-gutter {
    width: 8.3333333333%;
  }

  footer .container .part-xl-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  footer .container .part-xl-2.no-gutter {
    width: 16.6666666667%;
  }

  footer .container .part-xl-3:not(.no-gutter) {
    width: 21.625%;
  }

  footer .container .part-xl-3.no-gutter {
    width: 25%;
  }

  footer .container .part-xl-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  footer .container .part-xl-4.no-gutter {
    width: 33.3333333333%;
  }

  footer .container .part-xl-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  footer .container .part-xl-5.no-gutter {
    width: 41.6666666667%;
  }

  footer .container .part-xl-6:not(.no-gutter) {
    width: 47.75%;
  }

  footer .container .part-xl-6.no-gutter {
    width: 50%;
  }

  footer .container .part-xl-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  footer .container .part-xl-7.no-gutter {
    width: 58.3333333333%;
  }

  footer .container .part-xl-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  footer .container .part-xl-8.no-gutter {
    width: 66.6666666667%;
  }

  footer .container .part-xl-9:not(.no-gutter) {
    width: 73.875%;
  }

  footer .container .part-xl-9.no-gutter {
    width: 75%;
  }

  footer .container .part-xl-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  footer .container .part-xl-10.no-gutter {
    width: 83.3333333333%;
  }

  footer .container .part-xl-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  footer .container .part-xl-11.no-gutter {
    width: 91.6666666667%;
  }

  footer .container .part-xl-12:not(.no-gutter) {
    width: 100%;
  }

  footer .container .part-xl-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 922px) {
  footer .container .part-lg-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  footer .container .part-lg-1.no-gutter {
    width: 8.3333333333%;
  }

  footer .container .part-lg-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  footer .container .part-lg-2.no-gutter {
    width: 16.6666666667%;
  }

  footer .container .part-lg-3:not(.no-gutter) {
    width: 21.625%;
  }

  footer .container .part-lg-3.no-gutter {
    width: 25%;
  }

  footer .container .part-lg-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  footer .container .part-lg-4.no-gutter {
    width: 33.3333333333%;
  }

  footer .container .part-lg-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  footer .container .part-lg-5.no-gutter {
    width: 41.6666666667%;
  }

  footer .container .part-lg-6:not(.no-gutter) {
    width: 47.75%;
  }

  footer .container .part-lg-6.no-gutter {
    width: 50%;
  }

  footer .container .part-lg-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  footer .container .part-lg-7.no-gutter {
    width: 58.3333333333%;
  }

  footer .container .part-lg-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  footer .container .part-lg-8.no-gutter {
    width: 66.6666666667%;
  }

  footer .container .part-lg-9:not(.no-gutter) {
    width: 73.875%;
  }

  footer .container .part-lg-9.no-gutter {
    width: 75%;
  }

  footer .container .part-lg-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  footer .container .part-lg-10.no-gutter {
    width: 83.3333333333%;
  }

  footer .container .part-lg-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  footer .container .part-lg-11.no-gutter {
    width: 91.6666666667%;
  }

  footer .container .part-lg-12:not(.no-gutter) {
    width: 100%;
  }

  footer .container .part-lg-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  footer .container .part-md-1:not(.no-gutter) {
    width: 8.5625%;
  }

  footer .container .part-md-1.no-gutter {
    width: 12.5%;
  }

  footer .container .part-md-2:not(.no-gutter) {
    width: 21.625%;
  }

  footer .container .part-md-2.no-gutter {
    width: 25%;
  }

  footer .container .part-md-3:not(.no-gutter) {
    width: 34.6875%;
  }

  footer .container .part-md-3.no-gutter {
    width: 37.5%;
  }

  footer .container .part-md-4:not(.no-gutter) {
    width: 47.75%;
  }

  footer .container .part-md-4.no-gutter {
    width: 50%;
  }

  footer .container .part-md-5:not(.no-gutter) {
    width: 60.8125%;
  }

  footer .container .part-md-5.no-gutter {
    width: 62.5%;
  }

  footer .container .part-md-6:not(.no-gutter) {
    width: 73.875%;
  }

  footer .container .part-md-6.no-gutter {
    width: 75%;
  }

  footer .container .part-md-7:not(.no-gutter) {
    width: 86.9375%;
  }

  footer .container .part-md-7.no-gutter {
    width: 87.5%;
  }

  footer .container .part-md-8:not(.no-gutter) {
    width: 100%;
  }

  footer .container .part-md-8.no-gutter {
    width: 100%;
  }
}

@media (max-width: 576px) {
  footer .container .part-sm-1:not(.no-gutter) {
    width: 21.625%;
  }

  footer .container .part-sm-1.no-gutter {
    width: 25%;
  }

  footer .container .part-sm-2:not(.no-gutter) {
    width: 47.75%;
  }

  footer .container .part-sm-2.no-gutter {
    width: 50%;
  }

  footer .container .part-sm-3:not(.no-gutter) {
    width: 73.875%;
  }

  footer .container .part-sm-3.no-gutter {
    width: 75%;
  }

  footer .container .part-sm-4:not(.no-gutter) {
    width: 100%;
  }

  footer .container .part-sm-4.no-gutter {
    width: 100%;
  }
}

@media (max-width: 375px) {
  footer .container .part-xs-1:not(.no-gutter) {
    width: 21.625%;
  }

  footer .container .part-xs-1.no-gutter {
    width: 25%;
  }

  footer .container .part-xs-2:not(.no-gutter) {
    width: 47.75%;
  }

  footer .container .part-xs-2.no-gutter {
    width: 50%;
  }

  footer .container .part-xs-3:not(.no-gutter) {
    width: 73.875%;
  }

  footer .container .part-xs-3.no-gutter {
    width: 75%;
  }

  footer .container .part-xs-4:not(.no-gutter) {
    width: 100%;
  }

  footer .container .part-xs-4.no-gutter {
    width: 100%;
  }
}

footer .container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.08);
}

footer .container .logo img {
  width: 70px;
}

footer .container p,
footer .container a {
  min-width: 200px;
}

.button {
  position: relative;
  display: inline-block;
  z-index: 2;
  overflow: hidden;
  border-radius: 100px;
  padding: 13px 35px;
  opacity: 1;
  border: none;
  cursor: pointer;
  background-color: #FFAFCD;
  color: #081132;
}

.button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transition: 250ms;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
}

.button:hover:before {
  top: 0;
}

.hamburger {
  position: relative;
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  display: inline-block;
  transition: 250ms ease-in-out;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: black;
}

.hamburger span:nth-of-type(1) {
  top: 0;
}

.hamburger span:nth-of-type(2) {
  top: 0;
  bottom: 0;
}

.hamburger span:nth-of-type(3) {
  bottom: 0;
}

.hamburger.active span:nth-of-type(1) {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  transition: 250ms ease-in-out;
}

.mobile-menu .container {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
}

.mobile-menu .container .part-1:not(.no-gutter) {
  width: 4.2083333333%;
}

.mobile-menu .container .part-1.no-gutter {
  width: 8.3333333333%;
}

.mobile-menu .container .part-2:not(.no-gutter) {
  width: 12.9166666667%;
}

.mobile-menu .container .part-2.no-gutter {
  width: 16.6666666667%;
}

.mobile-menu .container .part-3:not(.no-gutter) {
  width: 21.625%;
}

.mobile-menu .container .part-3.no-gutter {
  width: 25%;
}

.mobile-menu .container .part-4:not(.no-gutter) {
  width: 30.3333333333%;
}

.mobile-menu .container .part-4.no-gutter {
  width: 33.3333333333%;
}

.mobile-menu .container .part-5:not(.no-gutter) {
  width: 39.0416666667%;
}

.mobile-menu .container .part-5.no-gutter {
  width: 41.6666666667%;
}

.mobile-menu .container .part-6:not(.no-gutter) {
  width: 47.75%;
}

.mobile-menu .container .part-6.no-gutter {
  width: 50%;
}

.mobile-menu .container .part-7:not(.no-gutter) {
  width: 56.4583333333%;
}

.mobile-menu .container .part-7.no-gutter {
  width: 58.3333333333%;
}

.mobile-menu .container .part-8:not(.no-gutter) {
  width: 65.1666666667%;
}

.mobile-menu .container .part-8.no-gutter {
  width: 66.6666666667%;
}

.mobile-menu .container .part-9:not(.no-gutter) {
  width: 73.875%;
}

.mobile-menu .container .part-9.no-gutter {
  width: 75%;
}

.mobile-menu .container .part-10:not(.no-gutter) {
  width: 82.5833333333%;
}

.mobile-menu .container .part-10.no-gutter {
  width: 83.3333333333%;
}

.mobile-menu .container .part-11:not(.no-gutter) {
  width: 91.2916666667%;
}

.mobile-menu .container .part-11.no-gutter {
  width: 91.6666666667%;
}

.mobile-menu .container .part-12:not(.no-gutter) {
  width: 100%;
}

.mobile-menu .container .part-12.no-gutter {
  width: 100%;
}

@media (max-width: 1200px) {
  .mobile-menu .container .part-xl-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  .mobile-menu .container .part-xl-1.no-gutter {
    width: 8.3333333333%;
  }

  .mobile-menu .container .part-xl-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  .mobile-menu .container .part-xl-2.no-gutter {
    width: 16.6666666667%;
  }

  .mobile-menu .container .part-xl-3:not(.no-gutter) {
    width: 21.625%;
  }

  .mobile-menu .container .part-xl-3.no-gutter {
    width: 25%;
  }

  .mobile-menu .container .part-xl-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  .mobile-menu .container .part-xl-4.no-gutter {
    width: 33.3333333333%;
  }

  .mobile-menu .container .part-xl-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  .mobile-menu .container .part-xl-5.no-gutter {
    width: 41.6666666667%;
  }

  .mobile-menu .container .part-xl-6:not(.no-gutter) {
    width: 47.75%;
  }

  .mobile-menu .container .part-xl-6.no-gutter {
    width: 50%;
  }

  .mobile-menu .container .part-xl-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  .mobile-menu .container .part-xl-7.no-gutter {
    width: 58.3333333333%;
  }

  .mobile-menu .container .part-xl-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  .mobile-menu .container .part-xl-8.no-gutter {
    width: 66.6666666667%;
  }

  .mobile-menu .container .part-xl-9:not(.no-gutter) {
    width: 73.875%;
  }

  .mobile-menu .container .part-xl-9.no-gutter {
    width: 75%;
  }

  .mobile-menu .container .part-xl-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  .mobile-menu .container .part-xl-10.no-gutter {
    width: 83.3333333333%;
  }

  .mobile-menu .container .part-xl-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  .mobile-menu .container .part-xl-11.no-gutter {
    width: 91.6666666667%;
  }

  .mobile-menu .container .part-xl-12:not(.no-gutter) {
    width: 100%;
  }

  .mobile-menu .container .part-xl-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 922px) {
  .mobile-menu .container .part-lg-1:not(.no-gutter) {
    width: 4.2083333333%;
  }

  .mobile-menu .container .part-lg-1.no-gutter {
    width: 8.3333333333%;
  }

  .mobile-menu .container .part-lg-2:not(.no-gutter) {
    width: 12.9166666667%;
  }

  .mobile-menu .container .part-lg-2.no-gutter {
    width: 16.6666666667%;
  }

  .mobile-menu .container .part-lg-3:not(.no-gutter) {
    width: 21.625%;
  }

  .mobile-menu .container .part-lg-3.no-gutter {
    width: 25%;
  }

  .mobile-menu .container .part-lg-4:not(.no-gutter) {
    width: 30.3333333333%;
  }

  .mobile-menu .container .part-lg-4.no-gutter {
    width: 33.3333333333%;
  }

  .mobile-menu .container .part-lg-5:not(.no-gutter) {
    width: 39.0416666667%;
  }

  .mobile-menu .container .part-lg-5.no-gutter {
    width: 41.6666666667%;
  }

  .mobile-menu .container .part-lg-6:not(.no-gutter) {
    width: 47.75%;
  }

  .mobile-menu .container .part-lg-6.no-gutter {
    width: 50%;
  }

  .mobile-menu .container .part-lg-7:not(.no-gutter) {
    width: 56.4583333333%;
  }

  .mobile-menu .container .part-lg-7.no-gutter {
    width: 58.3333333333%;
  }

  .mobile-menu .container .part-lg-8:not(.no-gutter) {
    width: 65.1666666667%;
  }

  .mobile-menu .container .part-lg-8.no-gutter {
    width: 66.6666666667%;
  }

  .mobile-menu .container .part-lg-9:not(.no-gutter) {
    width: 73.875%;
  }

  .mobile-menu .container .part-lg-9.no-gutter {
    width: 75%;
  }

  .mobile-menu .container .part-lg-10:not(.no-gutter) {
    width: 82.5833333333%;
  }

  .mobile-menu .container .part-lg-10.no-gutter {
    width: 83.3333333333%;
  }

  .mobile-menu .container .part-lg-11:not(.no-gutter) {
    width: 91.2916666667%;
  }

  .mobile-menu .container .part-lg-11.no-gutter {
    width: 91.6666666667%;
  }

  .mobile-menu .container .part-lg-12:not(.no-gutter) {
    width: 100%;
  }

  .mobile-menu .container .part-lg-12.no-gutter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mobile-menu .container .part-md-1:not(.no-gutter) {
    width: 8.5625%;
  }

  .mobile-menu .container .part-md-1.no-gutter {
    width: 12.5%;
  }

  .mobile-menu .container .part-md-2:not(.no-gutter) {
    width: 21.625%;
  }

  .mobile-menu .container .part-md-2.no-gutter {
    width: 25%;
  }

  .mobile-menu .container .part-md-3:not(.no-gutter) {
    width: 34.6875%;
  }

  .mobile-menu .container .part-md-3.no-gutter {
    width: 37.5%;
  }

  .mobile-menu .container .part-md-4:not(.no-gutter) {
    width: 47.75%;
  }

  .mobile-menu .container .part-md-4.no-gutter {
    width: 50%;
  }

  .mobile-menu .container .part-md-5:not(.no-gutter) {
    width: 60.8125%;
  }

  .mobile-menu .container .part-md-5.no-gutter {
    width: 62.5%;
  }

  .mobile-menu .container .part-md-6:not(.no-gutter) {
    width: 73.875%;
  }

  .mobile-menu .container .part-md-6.no-gutter {
    width: 75%;
  }

  .mobile-menu .container .part-md-7:not(.no-gutter) {
    width: 86.9375%;
  }

  .mobile-menu .container .part-md-7.no-gutter {
    width: 87.5%;
  }

  .mobile-menu .container .part-md-8:not(.no-gutter) {
    width: 100%;
  }

  .mobile-menu .container .part-md-8.no-gutter {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mobile-menu .container .part-sm-1:not(.no-gutter) {
    width: 21.625%;
  }

  .mobile-menu .container .part-sm-1.no-gutter {
    width: 25%;
  }

  .mobile-menu .container .part-sm-2:not(.no-gutter) {
    width: 47.75%;
  }

  .mobile-menu .container .part-sm-2.no-gutter {
    width: 50%;
  }

  .mobile-menu .container .part-sm-3:not(.no-gutter) {
    width: 73.875%;
  }

  .mobile-menu .container .part-sm-3.no-gutter {
    width: 75%;
  }

  .mobile-menu .container .part-sm-4:not(.no-gutter) {
    width: 100%;
  }

  .mobile-menu .container .part-sm-4.no-gutter {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .mobile-menu .container .part-xs-1:not(.no-gutter) {
    width: 21.625%;
  }

  .mobile-menu .container .part-xs-1.no-gutter {
    width: 25%;
  }

  .mobile-menu .container .part-xs-2:not(.no-gutter) {
    width: 47.75%;
  }

  .mobile-menu .container .part-xs-2.no-gutter {
    width: 50%;
  }

  .mobile-menu .container .part-xs-3:not(.no-gutter) {
    width: 73.875%;
  }

  .mobile-menu .container .part-xs-3.no-gutter {
    width: 75%;
  }

  .mobile-menu .container .part-xs-4:not(.no-gutter) {
    width: 100%;
  }

  .mobile-menu .container .part-xs-4.no-gutter {
    width: 100%;
  }
}

.mobile-menu.active {
  left: 0;
}

form {
  border-radius: 40px;
  padding: 80px;
  background-color: rgba(255, 255, 255, 0.08);
}

form .empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 537px;
}

form .empty img {
  width: 50px;
}

form label {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: -10px;
  width: auto;
  padding: 0 10px;
  background-color: #1B2442;
  color: #FFAFCD;
  font-size: 14px;
}

form textarea,
form input:not([type=submit]):not([type=checkbox]) {
  display: block;
  border: 2px solid #FFAFCD;
  border-radius: 12px;
  width: 100%;
  padding: 15px 25px;
  margin-top: -11px;
  outline: none;
  background-color: transparent;
  color: white;
}

form textarea {
  height: 200px;
}

form .checkbox {
  position: relative;
}

form .checkbox input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

form .checkbox input + label {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-bottom: 20px;
  margin-bottom: 40px;
  padding-left: 45px;
  height: 34px;
  cursor: pointer;
}

form .checkbox input + label a {
  color: #FFAFCD;
  text-decoration: underline;
}

form .checkbox input + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #FFAFCD;
  border-radius: 5px;
}

form .checkbox input:checked + label + .checked {
  width: 40px;
}

form .checkbox .checked {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 2px;
  margin-top: -2px;
  pointer-events: none;
  transition: 350ms ease-in-out;
  overflow: hidden;
  width: 0;
  height: 26px;
}

form .checkbox .checked img {
  width: 40px;
  height: 28px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.socials .social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 90px;
  height: 90px;
  transition: background 300ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.08);
}

.socials .social:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.socials .social + .social {
  margin-left: 15px;
}

.projects .project {
  display: flex;
  align-items: flex-end;
  height: 450px;
  border-radius: 40px;
  background-color: #6A7084;
}

.projects .project .content {
  position: relative;
  width: 230px;
  padding: 50px 50px 20px 20px;
  border-radius: 0 80px 0 0;
  background-color: #081132;
}

.projects .project .content .title {
  margin-top: 5px;
  margin-bottom: 30px;
}

.projects .project .content:before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: calc(100% - 1px);
  width: 40px;
  height: 40px;
  background-image: url("/img/left-bottom-40.svg");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.projects .project .content:after {
  content: "";
  position: absolute;
  left: calc(100% - 1px);
  bottom: -0.5px;
  width: 40px;
  height: 40px;
  background-image: url("/img/left-bottom-40.svg");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.projects .project + .project {
  margin-top: 140px;
}

.projects .project:nth-of-type(2n) {
  justify-content: flex-end;
}

.projects .project:nth-of-type(2n) .content {
  border-radius: 80px 0 0 0;
  padding: 50px 20px 20px 50px;
}

.projects .project:nth-of-type(2n) .content::before {
  right: 100%;
  left: unset;
  bottom: -1px;
  transform: rotate(-90deg);
}

.projects .project:nth-of-type(2n) .content::after {
  left: unset;
  right: 0;
  bottom: 100%;
  top: unset;
  transform: rotate(-90deg);
}

