* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: $dark;
  color: white;

  main {
    flex: 1 0 auto;

    .container {
      .container {
        padding-right: 0!important;
        padding-left: 0!important;
      }
    }
  }

  footer {
    flex-shrink: 0;
  }
}