header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  width: 100%;

  background-color: $dark;

  .container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 120px;

    .logo {
      width: 40px;
    }

    nav {
      display: flex;
      align-items: center;

      a {
        font-size: 16px;
      }

      a:not(.button) {
        color: white;
        opacity: .6;

        & + a {
          margin-left: 30px;
        }

        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }
  }
}