section.line {

  .container {
    @include grid;
    @include container;
  }

  + section.line {
    @extend %standard-top-space;
  }

  &:first-of-type {
    padding-top: 200px;
  }

  &.small {
    .container {
      max-width: $max-width-md;
    }
  }

  &.extra-small {
    .container {
      max-width: $max-width-xs;
    }
  }
}